<!-- Verstuurd code naar application.py -->
{% extends "layout_register.html" %}

{% block title %}
    Register user
{% endblock %}

{% block main %}
<!-- Opmaak melding -->
<div class="melding" id="melding">Inloggen Organisatie</div>
        <!-- Logincard organisatie -->
        <div class="login_body">

            <h2>Inloggen Organisatie</h2>
            
            <form action="/login_association" method="post">
                <!-- Foto -->
                <div class="imgcontainer-beer">
                    <img src="../static/img/cor_avatar.jpg" alt="profile-beer" class="profile-beer">
                </div>

                    <h1 class="h3 mb-3 fw-normal">Inloggen</h1>
                
                <!-- Input inloggen-->
                <div class="container-beer">
                    <label for="email">Emailadres <i class="fas fa-envelope"></i></label>
                    <input type="text" placeholder="Emailadres" name="email" autocomplete="off" required>

                    <label for="wachtwoord">wachtwoord <i class="fas fa-key"></i></label>
                    <input type="password" placeholder="Wachtwoord" name="wachtwoord" required>

                    <!-- Opmaak button-->
                    <button class="login_button" type="submit">Inloggen organisatie</button>

                    <!-- Checkbox -->
                    <div class="checkbox mb-3">
                        <label>
                          <input type="checkbox" value="remember-me" /> Remember me
                        </label>
                    </div>

                </div>
            </form>
        </div>
    <!-- Javascript, kleine melding van 2000ms waarbij naam pagina wordt weergegeven -->
    <script>
        let melding = document.getElementById('melding');
        setTimeout(function() {
        melding.style.cssText = "visibility: none; opacity: 0"
        }, 2000); // <-- tijd in milliseconden              
    </script>
{% endblock %}
